#wrapper {
    width: 100%;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  
  .item {
    flex: none;
  }