#wrapper {
  width: 70%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.item {
  flex: none;
}

.user-list {
    list-style-type: none;
}